#accueil {

    display: block;
    height: 150px;
    position: relative;
    left: 20px;
    border-left: black 4px double;
    border-bottom: black 4px double;
    background-color: darkslateblue;
}

    #accueil img {
        display: block;
        position: absolute;
        left:20px;
        padding: 20px 20px;
        border-radius: 50px;
    }

#accueil h1 {
    display: inline-block;
    position:absolute;
    left:40%;
    top:20%;
}
#accueil h4{
    display:inline-block;
    position:absolute;
    right:50px;
    bottom:7px;
}

#left {
    display: inline-block;
    width: 300px;
    position: relative;
    height: 600px;
    left: 20px;
    top: 20px;
    border: black 4px double;
    background-color: darkslateblue;
    overflow:scroll;
}
#left h2{
    position:relative;
    left:15%;
}

#right {
    display: inline-flex;
    position: absolute;
    width: 1337px;
    height: 600px;
    left: 360px;
    top: 182px;
    border-top: black 4px double;
    border-left: black 4px double;
    border-bottom: black 4px double;
    background-color: darkslateblue;
    overflow: scroll;
}

#classify {
    display:inline-block;
    left: 35%;
    top: 8%;
    display:block;
    position: relative;
    border: double black 4px;
    height: 50px;
    width:850px;
}
#classify ul {
    position:relative;
    top:-36%;
    left:3%;
}
    #classify li {
        margin-right:25px;
        display: inline-block;
        float: left;
    }
#list{
    display:block;
    position:relative;
    left:-15%;
    top:30%;
}
#tit h2 {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 1%;
}

#register {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: darkslateblue;
}


#foot {
    display: inline-block height 140px;
    position: relative;
    top: 40px;
    left: 20px;
    border-left: black 4px double;
    border-top: black 4px double;
    background-color: darkslateblue;
}
#foot h3{
    display:block;
    position:relative;
    left:47%;
}
    #foot h4 {
        display: block;
        position: relative;
        left: 50%;
    }






body {
    background-color:black;
}